.App {
  text-align: center;
}

.App-title {
  font-size: 1.5em;
}

.App-demo {
  font-size: large;
}

h1 {
  font-size: 2rem !important;
  font-weight: 600 !important;
  line-height: 1.125 !important;
  padding-bottom: 2rem !important;
}
p,
ul,
pre {
  text-align: justify !important;
}

.explanation,
.navigation {
  padding: 3rem;
}

.page-nav button:disabled {
  color: white;
  background-color: blue;
}
